.jumbotron{
    font-family: montserrat;
    background-color:rgb(241, 246, 247)));
    background-image: url(img/jumbotron-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    text-align: center;
    position: relative;
  }
  .jumbotron .container{
      margin-top: 100px;
    color:black;
    font-weight: bold;
    position: relative;
}